

// MAIN BODY --------------------------------------//
body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("/Images/Noise.png");
  background-image: linear-gradient(180deg, rgba(#30e8bf, 0.3), rgba(#1eba97, 0.3)), url("/Images/Noise.png");
}
a:hover{
  color:transparent;
  text-decoration: none;
}
a{
  color: transparent;
}
*,
button:active,
button:focus,
button:hover,
input:focus,
input:hover input:active,
textarea:active,
textarea:focus,
textarea:hover {
  outline: 0 !important;
}
// NAVIGATION COMPONENT ---------------------- //

.navbar {
  z-index: 1200;
}

.nav {
  position: relative;
  z-index: 1500;
  display: none;

  a {
    text-decoration: none;
  }

  &--bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.85);
    box-shadow: inset 0 0 80vw 0 rgba(0,0,0,.9);
  }

  &--container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  &--itemcontainer {
    position: fixed;
  }

  &--item {
    width: 40vw;
    min-width: 300px;
    height: 10vh;
    cursor: pointer;
    transition: all 100ms cubic-bezier(.610, .025, .400, .980);
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    background: linear-gradient(to bottom, #fff 0%,#e5e5e5 100%);
    background-color: #fff;
    font-family: Oswald;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 10vh;

    &_top {
      border-radius: 5px 5px 0 0;
    }

    &_bottom {
      border-radius: 0 0 5px 5px;
    }
  }

  &--item:hover {
    transform: scale(1.1, 1.1);
    border-radius: 0;
    background: linear-gradient (to bottom, #fff 0,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
    box-shadow: 0 0 30px 4px rgba(0,0,0,.2);
    font-size: 1.7rem;
  }

  &--item:hover::after,
  &--item:hover::before {
    content: ' - ';
  }

  &--item:active {
    transform: scale(1.07,1.07);
    border-radius: 10px;
    background: linear-gradient(145deg, #fff 0%,#e5e5e5 100%);
  }
}
// END OF NAVIGATION COMPONENT ----------------------------------//
// HAMBUGER ----------------------------------------------//

.navbar-toggler {
  color: white;

  &-icon {
    color: white;
  }
}
// TOP HEROCOMPONENT ----------------------------------------------------- //

.navbar--logo {
  position: absolute;
  top: 10px;
  left: 50%;
  display: none;
  width: 10vh;
  height: 10vh;
  transition: transform 0.2s ease-in-out;
  transform: translate(-50%);
  border-radius: 11vh;
  background-color: white;
  background-image: url("/Images/Logo.png");
  background-size: contain;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.navbar--logo:hover,
.tophero--logo:hover {
  cursor: pointer;
  transform: translateX(-50%) scale(1.05,1.05);
}

.tophero--logo-scrolled {
  width: 10vh;
  height: 10vh;
}

.tophero-scrolled {
  opacity: 1;
}

.tophero2 {
  display: flex;
  flex-direction: column;
  height: 50vmin;
  margin-top: 100px;
  padding: 2em;
  background-image: url("/Images/BG3.png");
  background-attachment: fixed;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  background-clip: text;
  background-size: 100vw;
  font-family: Work Sans;
  align-items: center;
  justify-content: center;

  span {
    margin: 0;
    padding: 0;
    line-height: 0.65;
  }

  &--class1 {
    letter-spacing: -2vmin;
    color: rgba(0, 0, 0, 0.2);
    font-size: 30vmin;
    font-weight: 700;
  }

  &--class2 {
    letter-spacing: 2vmin;
    color: rgba(0, 0, 0, 0.2);
    font-size: 12vmin;
    font-weight: 300;
    font-style: italic;
  }

  &--class3 {
    margin-top: 20px;
    padding: 0.3em 2em;
    text-align: center;
    letter-spacing: 2px;
    color: white;
    border-radius: 20px;
    background-color: #109d88;
    background-size: 100vw;
    font-family: Oswald;
    font-weight: 400;
  }
  &--class3__header{
    font-size: 22px;
    font-weight: 100;
  }
}
// FOOTER ---------------------------------------------------------
.footertopper {
  width: 100vw;
  height: 18vh;
  margin-bottom: -10px;
  background-image: url("/Images/BG3.png");
  background-position: top;
  background-size: cover;
  justify-content: center;
  background-blend-mode: overlay;
  -webkit-clip-path: polygon(51% 35%, 100% 0, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(51% 35%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.footer {
  width: 100vw;
  margin: 0;
  padding: 3em;
  text-align: center;
  color: #b2b2b2;
  background-color: #343a40;
  font-family: Oswald;
  line-height: 2.2;

  img {
    padding: 1em;
    cursor: pointer;
    opacity: 0.7;
  }

  img:hover {
    opacity: 1;
  }

  a {
    text-decoration: none;
    color: #b2b2b2;
  }

  a:hover {
    color: white;
  }

  span {
    font-size: 11px;
  }
}
// FOOTER END -----------------------------------------------------------
// THEME SELECTOR ---------------------------------------------------------
.themeslider {
  &--heading {
    position: absolute;
    top: 12px;
    right: 100px;
    user-select: none;
    transition: color 0.2s ease-out;
    text-align: center;
    color: lightgrey;
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
  }

  &--bubble {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 60px;
    height: 25px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 0 0 2px lightgrey;
  }

  &--circle {
    position: absolute;
    top: 14px;
    right: 61px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    transform: translate(3px, 3px);
    border-radius: 13px;
    background-color: lightgrey;
  }
}

.themeslider--clicked {
  transform: translate(39px, 3px);
  background-color: whitesmoke;
}

.themebubble--clicked {
  box-shadow: 0 0 0 2px whitesmoke;
}

.themeheading--clicked {
  color: whitesmoke;
}
