
.topcontent {
  z-index: -20;
  text-align: center;
  margin-top: 40px;
max-width: 750px;
&--first{
    padding-top: 200px;
}
&--third{
  margin-bottom: 150px;
}
  &--row {
    background-color: rgba(255,255,255,0.4);
    padding: 3em;
  }

  &--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mq(mobile, desktop) {
      margin-top: 30px;
    }
    a{
      box-sizing: content-box;
      border-radius: 5px;
      margin: 30px auto;
      color: white;
      font-family: Oswald;
      letter-spacing: 2px;
      display: block;
      width: 40%;
      padding: 0.5em 0.5em;
      background-color: firebrick;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    }
    a:hover{
      color: white;
      transform: scale(1.05, 1.05);
      border: inset 1px solid white;
      background-color: red;
    }

    h4 {
      @include hline;
      font-size: 32px;
      letter-spacing: 2px;
      font-weight: 400;
      color: firebrick;
    }

    p {
      text-align: center;
      margin: 20px 10px;
      color: darkslategray;
    }
  }
  &--image{
    position: relative;
    margin: 0.5em auto;
    height: 12vh;
    width: 100%;
    transition: all 0.2s ease-in-out;
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    cursor: pointer;
    // box-shadow: 0px 0px 50px rgba(0,0,0,0.1);
  }
  .topcontent--image:hover{
    transform: scale(1.05, 1.05);
  }
  .image1{
    background-image: url(/Images/Icons/graphic-red.png);
  }
  .image2{
    background-image: url(/Images/Icons/web-red.png);
  }
  .image3{
    background-image: url(/Images/Icons/print-red.png);
  }
  .image4{
    background-image: url(//unsplash.it/600/600/);
  }
}
