.mainhead{
	text-align: center;
	width: 100vw;
	padding-top: 50px;
	font-family: $sansserif;
	font-size: 30px;
	letter-spacing: 6px;
	color: $fontcolor;
	user-select: none;
}
.bg2{
	width: 95vw;
	color: $fontcolor;
	font-size: 18px;
	font-family: $sansserif;
	text-align: center;
	margin-top: 50px;
	span{
		letter-spacing: 3px;
	}
	p{
		font-family: $serif;
		font-size: 12px;
		word-wrap: break-word;
		line-height: 1.6;
    padding-top: 10px
	}
	img{
		width: 40px;
		padding-bottom: 10px;
	}


.maincol{
	user-select: none;
	padding-left: 50px;
	padding-right: 50px;
	height: 300px;
	padding-top: 50px;
	padding-bottom: 0px;
	cursor: pointer;
}
.center{
  background-image: url(/Images/design.gif);
  background-size: cover;
  background-position: center;
}

.col-md-4:nth-child(odd){
background-color: rgba(#000, 0.12);
}
.col-md-4:nth-child(even){
	background-color: rgba(#000, 0.10);
}
.maincol:hover{
	background-color: rgba(#000,0.15);
	transition: 0.5s;
}
.left{
	border-radius: 20px 0px 0px 0px;
}
.right{
	border-radius: 0px 20px 0px 00px;
}
@media (max-width: 992px) {
.maincol{
	padding-left: 20vw;
	padding-right: 20vw;
}
.left{
	border-radius: 20px 20px 0px 0px;
}
.right{
	border-radius: 0px 0px 0px 0px;
}
.left:hover{
	border-radius: 20px 20px 0px 0px;
}
.right:hover{
	border-radius: 0px 0px 0px 0px;
}
}
}

.bg3{
	width: 95vw;
	color: $fontcolor;
	font-size: 18px;
	font-family: $sansserif;
	text-align: center;
  margin-bottom: 50px;
	span{
		letter-spacing: 3px;
	}
	p{
		font-family: $serif;
		font-size: 12px;
		word-wrap: break-word;
		line-height: 1.6;
    padding-top: 10px
	}
	img{
		width: 40px;
		padding-bottom: 10px;
	}

.mainhead{
	text-align: center;
	width: 100vw;
	padding-top: 30px;
	font-family: $sansserif;
	font-size: 30px;
	letter-spacing: 6px;
	color: $fontcolor;
	user-select: none;
}

.maincol{
	user-select: none;
	padding-left: 50px;
	padding-right: 50px;
	height: 300px;
	padding-top: 50px;
	padding-bottom: 0px;
	cursor: pointer;
}

.col-md-4:nth-child(even){
background-color: rgba(#000, 0.12);
}
.col-md-4:nth-child(odd){
	background-color: rgba(#000, 0.10);
}
.maincol:hover{
	background-color: rgba(#000,0.15);
	transition: 0.5s;
}
.left{
	border-radius: 0px 0px 0px 20px
}
.right{
	border-radius: 0px 0px 20px 00px
}
@media (max-width: 992px) {
.maincol{
	padding-left: 20vw;
	padding-right: 20vw;
}
.left{
	border-radius: 0px 0px 0px 0px
}
.right{
	border-radius: 0px 0px 20px 20px
}
.left:hover{
	border-radius: 0px 0px 0px 0px
}
.right:hover{
	border-radius: 0px 0px 20px 20px;
}
}
}
