.topcontent--portfolio{
  text-align: center;
  margin: 50px auto 200px auto;
&--col{
  text-align: center;
  padding: 10px
}
&--item{
  background-color: white;
  height: 300px;
  transition: transform 0.2s ease-out;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  position: relative;
  border-radius: 10px;
}
&--item:hover{
  z-index: 100;
  transform: scale(1.04, 1.04);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
&--item:hover .topcontent--portfolio--header{
  opacity: 1;
  background-color: rgba(0,0,0,0.6);
}
&--header{
  border-radius: 0px 0px 10px 10px;
  position: relative;
  top: 100%;
  transform: translateY(-100%);
  transition: all 0.2s ease-in-out;
  padding: 0.4em;
  background-color: rgba(#000, 0.4);
  color: white;
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  }
.typography{
background-image: url(/Images/Typography.png);
background-position: center;
background-size: cover;
}
.booklets{
  background-image: url(/Images/Books.png);
  background-position: center;
  background-size: cover;
}
.illustrations{
  background-image: url(/Images/Illustration.png);
  background-position: center;
  background-size: cover;
}
}
