
  .image4--about {
    background-image: url("/Images/Profile.jpg");
    background-size: cover;
    border-radius: 100px;
    height: 18vh;
    width: 18vh;
  }
.topcontent--fourth{
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 100% 100%, 91% 93%, 0 93%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 100% 100%, 91% 93%, 0 93%);
  margin-top: 60px;
  margin-bottom: 100px;
  @include mq(mobile,tablet) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
