$background: #FFF;
$background-lighter: #A83636;
$fontcolor: #393E46;
$navfontcolor: #FFF4E0;

$color1: #BEDCB7;
$color2: #6EBB8D;
$color3: #5D8872;
$color4: #428D8A;
$color5: #213640;

//Navbar Color
$navbarbackground: #00ADB5;
$navbackground: rgba(#494949, 1);
$navitem: #b3b3b3;
$navitemhover: #000000;

//Nav Font Colours
$primary: #004642;
$light-primary:#cd4848;

//Fonts
$sansserif:'Oswald', sans-serif;
$serif:'Montserrat', sans-serif;
