$background: #FFF4E0;
$background-lighter: #A83636;
$fontcolor: #393E46;
$navfontcolor: #FFF4E0;


//Navbar Color
$navbarbackground: #212C3F;
$navbackground: #212C3F;
$navitem: #245657;
$navitemhover: #59A684;

//Nav Font Colours
$primary: #004642;
$light-primary:#cd4848;

//Fonts
$sansserif:'Oswald', sans-serif;
$serif:'Montserrat', sans-serif;
$navfont: 'Oswald', sans-serif;
