.element::-webkit-scrollbar {
  width: 0 !important;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #FFF4E0;
  overflow-x: hidden !important;
  margin: 0 !important;
}

body::-webkit-scrollbar {
  width: 0px !important;
}

button:focus {
  outline: none;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.navigation {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #494949;
  right: 0;
  bottom: 0;
  display: none;
  text-align: center;
  padding-top: 20vh;
}

.navitem {
  margin: 10px 30vw;
  padding: 2vh 0;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 2vw;
  font-weight: 200;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.navitem:hover {
  background-color: #000000;
  font-style: italic;
  padding-right: 10px;
  transition: 0.4s;
  border-radius: 20px;
}

.navitem:hover::before {
  content: "> ";
}

@media screen and (max-width: 700px) {
  .navitem {
    font-size: 4vw;
  }
}

.navcontents {
  display: none;
}

.socials {
  user-select: none;
}

.socialicon {
  display: inline-block;
  width: 10vh;
  height: 10vh;
  margin: 2vh 15px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  background-repeat: no-repeat;
  background-size: 8vh;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.socialicon1 {
  background-image: url("/Images/Behance.png");
}

.socialicon2 {
  background-image: url("/Images/Insta.png");
}

.socialicon3 {
  background-image: url("/Images/LinkdIn.png");
}

.socialicon:hover {
  background-color: #000000;
  border-radius: 10px;
  transition: 0.4s;
}

.hamburgercontainer {
  position: fixed;
  width: 100vw;
  z-index: 200;
  background-color: #00ADB5;
  height: 60px;
  border-bottom: 5px solid white;
}

.hamburger {
  position: absolute;
  top: 10px;
  left: 24px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  color: #FFF4E0;
  cursor: pointer;
  user-select: none;
}

.menuclose {
  display: none;
}

.menu {
  position: absolute;
  top: 18px;
  left: 54px;
  font-family: "Oswald", sans-serif;
  font-style: 22px;
  color: #FFF4E0;
  cursor: pointer;
  user-select: none;
}

.circle {
  margin: 0 auto;
  text-align: center;
  padding: 0.5vh 0.5vh;
  height: 41vh;
  width: 41vh;
  background-color: white;
  -webkit-clip-path: circle(48.8% at 50% 50%);
  clip-path: circle(48.8% at 50% 50%);
  transform: translateX(-300px);
}

.circle img {
  height: 40vh;
  width: 40vh;
}

.bg1 {
  height: 50vh;
  width: 100vw;
  padding-top: 11vh;
  background-image: url("/Images/21.png");
  background-size: cover;
  background-position: bottom;
  background-color: #FFF4E0;
  -webkit-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
  clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
}

.footertop {
  margin-top: 5vw;
  width: 100vw;
  height: 20vh;
  background-image: url("/Images/21.png");
  background-size: cover;
  background-position: bottom;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%);
  clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%);
}

.footer {
  background-color: #00ADB5;
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: auto;
  font-family: "Montserrat", sans-serif;
}

.footer .footericons {
  user-select: none;
  background-color: rgba(0, 0, 0, 0.05);
}

.footer .footericon {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  height: 10vh;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  background-repeat: no-repeat;
  background-size: 5vh;
  background-position: center;
}

.footer .footericon1 {
  background-image: url("/Images/Behance.png");
  padding: 20px;
}

.footer .footericon2 {
  background-image: url("/Images/Insta.png");
  padding: 20px;
}

.footer .footericon3 {
  background-image: url("/Images/LinkdIn.png");
  padding: 20px;
}

.footer .footericon:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.footer .footertext {
  font-size: 11px;
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center !important;
  color: #FFF4E0;
  cursor: pointer;
  user-select: none;
}

.footer .footertext span {
  font-size: 9px;
}

.bg2 {
  margin: 0 auto;
  text-align: center;
  width: 95vw;
  height: auto;
  color: #393E46;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin-top: 20px;
}

.bg2 span {
  letter-spacing: 3px;
}

.bg2 p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  word-wrap: break-word;
  line-height: 1.6;
}

.bg2 img {
  width: 40px;
  padding-bottom: 10px;
}

.mainhead {
  text-align: center;
  width: 100vw;
  padding-top: 30px;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  letter-spacing: 6px;
  color: #393E46;
  user-select: none;
}

.maincol {
  user-select: none;
  padding-left: 50px;
  padding-right: 50px;
  height: 300px;
  padding-top: 50px;
  padding-bottom: 30px;
  cursor: pointer;
}

.col-md-4:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.12);
}

.col-md-4:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

.maincol:hover {
  background-color: rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

.left {
  border-radius: 20px 0px 0px 20px;
}

.right {
  border-radius: 0px 20px 20px 00px;
}

@media (max-width: 992px) {
  .maincol {
    padding-left: 20vw;
    padding-right: 20vw;
  }
  .left {
    border-radius: 20px 20px 0px 0px;
  }
  .right {
    border-radius: 0px 0px 20px 20px;
  }
  .left:hover {
    border-radius: 20px 20px 0px 0px;
  }
  .right:hover {
    border-radius: 0px 0px 20px 20px;
  }
}

/*# sourceMappingURL=main.css.map */