

// ------- MENU AND NAVIGATION STYLES

.navigation {
  position: fixed;
	z-index: 10;
  top: 0;
  left: 0;
  background-color: $navbackground;
  right: 0;
  bottom: 0;
  display: none;
  text-align: center;
  padding-top: 20vh;
}

.navitem {
  margin: 10px 30vw;
  padding: 2vh 0;
  background-color: $navitemtrans;
  font-family: $sansserif;
  color: white;
  font-size: 2vw;
  font-weight: 200;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.navitem:hover {
  background-color: $navitemhover;
  font-style: italic;
  padding-right: 10px;
  transition: 0.4s;
  border-radius: 20px;
}

.navitem:hover::before {
  content: "> ";
}
@media screen and (max-width: 700px) {
  .navitem {
    font-size: 4vw;
  }
}

.navcontents {
  display: none;
}


//-------- SOCIAL ICONS -------------


.socials {
  user-select: none;
}

.socialicon {
  display: inline-block;
  width: 10vh;
  height: 10vh;
  margin: 2vh 15px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  background-repeat: no-repeat;
  background-size: 8vh;
  background-position: center;
  background-color: $navitemtrans;
}

.socialicon1 {
  background-image: url("/Images/Behance.png");
}

.socialicon2 {
  background-image: url("/Images/Insta.png");
}

.socialicon3 {
  background-image: url("/Images/LinkdIn.png");
}

.socialicon:hover {
  background-color: $navitemhover;
  border-radius: 10px;
  transition: 0.4s;
}

//-------- HAMBURGER BUTTON

.hamburgercontainer {
  position: fixed;
  width: 100vw;
  z-index: 200;
  background-color:$navbackground;
  height: 60px;
}

.hamburger {
  position: absolute;
  top: 10px;
  left: 24px;
  font-family: $sansserif;
  font-size: 24px;
  color: $navfontcolor;
  cursor: pointer;
  user-select: none;
}

.menuclose {
  display: none;
}

.menu {
  position: absolute;
  top: 18px;
  left: 54px;
  font-family: $sansserif;
  font-style: 22px;
  color: $navfontcolor;
  cursor: pointer;
  user-select: none;
}

// TOP CIRLCE AND //

.circle {
	@include horizontal-center;
	padding: 0.5vh 0.5vh;
	height: 41vh;
	width: 41vh;
	background-color: white;
	-webkit-clip-path: circle(48.8% at 50% 50%);
	clip-path: circle(48.8% at 50% 50%);
	transform: translateX(-300px);

	img {
		height: 40vh;
		width: 40vh;

	}
}
.bg1{
	height: 50vh;
	width: 100vw;
	padding-top: 11vh;
	background-image:$BGImage;
	background-size: cover;
	background-position: bottom;
	// background-blend-mode: soft-light;
	background-color: $background;
	-webkit-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
	clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
}

// FOOTER ELEMENTS
.footertop{
  margin-top: 5vw;
  width: 100vw;
  height: 20vh;
  background-image:$BGImage;
  background-size: cover;
  background-position: bottom;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%);
  clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%);
}
.footer{
  background-color: #00ADB5;
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 300px;

  .footericons {
    user-select: none;
  }

  .footericon {
    @include horizontal-center;
    display: inline-block;
    height: 10vh;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    background-repeat: no-repeat;
    background-size: 5vh;
    background-position: center;
  }

  .footericon1 {
    background-image: url("/Images/Behance.png");
    padding: 20px;
  }

  .footericon2 {
    background-image: url("/Images/Insta.png");
    padding: 20px;
  }

  .footericon3 {
    background-image: url("/Images/LinkdIn.png");
    padding: 20px;
  }

  .footericon:hover {
    background-color: $navitemtrans;
    transition: 0.4s;
  }
}
