.circle {
	@include horizontal-center;
	padding: 0.5vh 0.5vh;
	height: 41vh;
	width: 41vh;
	background-color: white;
	-webkit-clip-path: circle(48.8% at 50% 50%);
	clip-path: circle(48.8% at 50% 50%);
	transform: translateX(-300px);

	img {
		height: 40vh;
		width: 40vh;
	}
}
.bg1{
	height: 50vh;
	width: 100vw;
	padding-top: 11vh;
	background-image: url(Images/18.png);
	background-size: 100vw;
	background-position: bottom;
	background-blend-mode: lighten;
	background-color: $background;
	-webkit-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
	clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
}

.bg2{
	width: 100vw;
	height: 100vh;
	color: white;
	font-size: 18px;
	font-family: $sansserif;
	text-align: center;
}

.maincol{
	padding-top: 50px;
}
