.circle {
	@include horizontal-center;
	padding: 0.5vh 0.5vh;
	height: 41vh;
	width: 41vh;
	background-color: white;
	-webkit-clip-path: circle(48.8% at 50% 50%);
	clip-path: circle(48.8% at 50% 50%);
	transform: translateX(-300px);

	img {
		height: 40vh;
		width: 40vh;
	}
}
.bg1{
	height: 50vh;
	width: 100vw;
	padding-top: 11vh;
	background-image: url(Images/21.png);
	background-size: cover;
	background-position: bottom;
	// background-blend-mode: soft-light;
	background-color: $background;
	-webkit-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
	clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
}

.bg2{
	@include horizontal-center;
	width: 95vw;
	height: 50vh;
	color: $fontcolor;
	font-size: 18px;
	font-family: $sansserif;
	text-align: center;
	margin-top: 20px;
	span{
		letter-spacing: 3px;
	}
	p{
		font-family: $serif;
		font-size: 12px;
		word-wrap: break-word;
		line-height: 1.6;
	}
	img{
		width: 40px;
		padding-bottom: 10px;
	}
}
.mainhead{
	text-align: center;
	width: 100vw;
	padding-top: 30px;
	font-family: $sansserif;
	font-size: 40px;
	letter-spacing: 6px;
	color: $fontcolor;
}

.maincol{
	padding-left: 50px;
	padding-right: 50px;
	background-color: rgba(#000,.05);
	padding-top: 30px;
	padding-bottom: 30px;
}
.maincol:hover{
	background-color: rgba(#000,.1);
	transition: 0.5s;
}
.left{
	border-radius: 20px 0px 0px 20px
}
.right{
	border-radius: 0px 20px 20px 00px
}
@media (max-width: 767.98px) {
.maincol{
	padding-left: 20vw;
	padding-right: 20vw;
}
.left{
	border-radius: 20px 20px 0px 0px
}
.right{
	border-radius: 0px 0px 20px 20px
}
.left:hover{
	border-radius: 20px 20px 0px 0px
}
.right:hover{
	border-radius: 0px 0px 20px 20px;
}
}
