.element::-webkit-scrollbar { width: 0 !important }

html{
  overflow-x: hidden;
}
body {
  background-color: $background;
  overflow-x: hidden!important;
  margin: 0 !important;
}
body::-webkit-scrollbar {
  width: 0px!important;
}
button:focus {
  outline: none;
}

.container-fluid {
  padding: 0;
  margin: 0;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
