html{
  overflow-x: hidden;
}
body {
  background-color: $background;
  overflow-x: hidden!important;
  margin: 0 !important;
}

button:focus {
  outline: none;
}

.container-fluid {
  padding: 0;
  margin: 0;
}
