
$background: #cd4848;
$background-lighter: #A83636;


//Navbar Color
$navbackground: #032e2b;
$navitemhover: #000000;
$navitemtrans: rgba(#000000, 0.1);


//Nav Font Colours
$primary: #004642;
$light-primary:#cd4848;

//Navbar Padding Top
$navbarpad: 16px;
$brandbarpad: 14px;

//Fonts
$sansserif:'Oswald', sans-serif;
$serif:'Playfair Display', serif;
$navfont: 'Oswald', sans-serif;
