
$background: #bd0303;


//Navbar Color
$navbarcolor: #002F2C;
$navitem: #ffffff;


//Nav Font Colours
$primary: #004642;
$light-primary:#cd4848;

//Navbar Padding Top
$navbarpad: 16px;
$brandbarpad: 14px;

//Fonts
$sansserif:'Oswald', sans-serif;
$serif:'Playfair Display', serif;
$navfont: 'Oswald', sans-serif;
