

$background: #FFF4E0;
$background-lighter: #A83636;
$fontcolor: #393E46;
$navfontcolor: #393E46;
$BGImage:  url(Images/18.png);


//Navbar Color
$navbackground: #00ADB5;
$navitemhover: #000000;
$navitemtrans: rgba(#000000, 0.1);


//Nav Font Colours
$primary: #004642;
$light-primary:#cd4848;

//Navbar Padding Top
$navbarpad: 16px;
$brandbarpad: 14px;

//Fonts
$sansserif:'Oswald', sans-serif;
$serif:'Montserrat', sans-serif;
$navfont: 'Oswald', sans-serif;
