//Main CSS
@import "variables";

body {
  background-color: $background;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0px !important;
}

button:focus {
  outline: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.navigation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000000, 0.95);
  text-align: center;
  padding-top: 20vh;
}

.navitem {
  display: none;
  color: white;
  font-family: $sansserif;
  padding: 2vh 0;
  margin: 0 30vw;
  font-size: 2.7vw;
  font-weight: 200;
  cursor: pointer;

  letter-spacing: -0.5px;
  text-transform: uppercase;
  user-select: none;
}

.navitem:hover {
  background-color: #2e2e2e;
  font-style: italic;
  padding-right: 10px;
  transition: 0.4s;
  border-radius: 20px;
}

.navitem:hover::before {
  content: "> ";
}
@media screen and (max-width: 700px) {
  .navitem {
    font-size: 5vw;
  }
}
.socials{
  user-select: none;
  display: none;
}

.socialicon {
  display: inline-block;
  margin: 2vh 15px;
  padding: 10px;
  width: 5vh;
  height: 5vh;
  cursor: pointer;
  user-select: none;
  background-repeat: no-repeat;
  background-size:5vh ;
  background-position: center;
}

.socialicon1 {
  background-image: url("/Images/Behance.png");
}

.socialicon2 {
  background-image: url("/Images/Insta.png");
}
.socialicon3 {
  background-image: url("/Images/LinkdIn.png");
}
.socialicon:hover {
  background-color: #4b4b4b;
  transition: 0.4s;
  border-radius: 40px;
}
.hamburgercontainer{
  position: fixed;
  z-index: 200;
  width: 200px;
}
.hamburger {
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  color: white;
  position: absolute;
  top: 14px;
  left: 24px;
  font-family: $sansserif;
}

.menuclose {
  display: none;
}

.menu {
  position: absolute;
  left: 54px;
  top: 23px;
  font-family: $sansserif;
  font-style: 22px;
  color: white;
  cursor: pointer;
  user-select: none;
}

.section{
  height: 40vh;
  width: 100vw;
  color: white;
  text-align: center;
  h2{
  font-family: $sansserif;
  font-weight: 200;
  text-transform: uppercase;
  padding-top: 10vh;
  margin: 0px;
  }
}
.section2{
  background-color: #1a7875;
}
.section3{
  background-color: #5a8a99
}
