body {
  background-color: #0a5b58;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 !important;
}

button:focus {
  outline: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.navigation {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #032e2b;
  right: 0;
  bottom: 0;
  display: none;
  text-align: center;
  padding-top: 20vh;
}

.navitem {
  margin: 10px 30vw;
  padding: 2vh 0;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 2vw;
  font-weight: 200;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.navitem:hover {
  background-color: #000000;
  font-style: italic;
  padding-right: 10px;
  transition: 0.4s;
  border-radius: 20px;
}

.navitem:hover::before {
  content: "> ";
}

@media screen and (max-width: 700px) {
  .navitem {
    font-size: 4vw;
  }
}

.navcontents {
  display: none;
}

.socials {
  user-select: none;
}

.socialicon {
  display: inline-block;
  width: 10vh;
  height: 10vh;
  margin: 2vh 15px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  background-repeat: no-repeat;
  background-size: 8vh;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.socialicon1 {
  background-image: url("/Images/Behance.png");
}

.socialicon2 {
  background-image: url("/Images/Insta.png");
}

.socialicon3 {
  background-image: url("/Images/LinkdIn.png");
}

.socialicon:hover {
  background-color: #000000;
  border-radius: 10px;
  transition: 0.4s;
}

.hamburgercontainer {
  position: fixed;
  width: 200px;
  z-index: 200;
}

.hamburger {
  position: absolute;
  top: 14px;
  left: 24px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  color: white;
  cursor: pointer;
  user-select: none;
}

.menuclose {
  display: none;
}

.menu {
  position: absolute;
  top: 23px;
  left: 54px;
  font-family: "Oswald", sans-serif;
  font-style: 22px;
  color: white;
  cursor: pointer;
  user-select: none;
}

.circle {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
  text-align: center;
  height: 51vh;
  width: 51vh;
  padding-top: 0.5vh;
  background-color: white;
  -webkit-clip-path: circle(48.8% at 50% 50%);
  clip-path: circle(48.8% at 50% 50%);
}

.circle img {
  height: 50vh;
  width: 50vh;
}

.bg {
  height: 100vh;
  width: 100vw;
  padding-top: 10vh;
}
