//Main CSS
@import "variables";

body {
  background-color: $background;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 !important;
}

button:focus {
  outline: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.navigation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $navbackground;
  text-align: center;
  padding-top: 20vh;
}

.navitem {
  color: white;
  font-family: $sansserif;
  padding: 2vh 0;
  margin: 10px 30vw;
  font-size: 2vw;
  font-weight: 200;
  cursor: pointer;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  user-select: none;
  background-color: $navitemtrans;
}

.navitem:hover {
  background-color: $navitemhover;
  font-style: italic;
  padding-right: 10px;
  transition: 0.4s;
  border-radius: 20px;
}

.navitem:hover::before {
  content: "> ";
}
@media screen and (max-width: 700px) {
  .navitem {
    font-size: 4vw;
  }
}
.navcontents{
  display: none;
}
.socials {
  user-select: none;
}

.socialicon {
  display: inline-block;
  margin: 2vh 15px;
  padding: 10px;
  width: 10vh;
  height: 10vh;
  cursor: pointer;
  user-select: none;
  background-repeat: no-repeat;
  background-size: 8vh;
  background-position: center;
  background-color: $navitemtrans;
}

.socialicon1 {
  background-image: url("/Images/Behance.png");
}

.socialicon2 {
  background-image: url("/Images/Insta.png");
}

.socialicon3 {
  background-image: url("/Images/LinkdIn.png");
}

.socialicon:hover {
  background-color: $navitemhover;
  transition: 0.4s;
  border-radius: 10px;
}

.hamburgercontainer {
  position: fixed;
  z-index: 200;
  width: 200px;
}

.hamburger {
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  color: white;
  position: absolute;
  top: 14px;
  left: 24px;
  font-family: $sansserif;
}

.menuclose {
  display: none;
}

.menu {
  position: absolute;
  left: 54px;
  top: 23px;
  font-family: $sansserif;
  font-style: 22px;
  color: white;
  cursor: pointer;
  user-select: none;
}
.mainstuff{
  scroll-snap-points-y: repeat(100vh);
}
.section {
  height: 100vh;
  width: 100vw;
  color: white;
  text-align: center;

  h2 {
    font-family: $sansserif;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-weight: 200;
    font-size: 30px;
    padding-top: 20vh;
    margin: 0;
    user-select: none;
    font-weight: 100;
  }

  p {
    width: 50vw;
    margin: 20px auto;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Roboto Slab';
    font-weight: 100;
  }
}
.arrow{
transform: translateY(10vh);
font-size: 40px;
color: rgba(#ffffff, 0.3)
}
.circles{
}
.circle{
    display: inline-block;
    background-color: white;
    width: 15vh;
    height: 15vh;
    border-radius: 200px;
    margin: 10px;
}

.section2 {
  background-color: #1a7875;
}

.section3 {
  background-color: #5a8a99;
}
