html body{
  background-color: lightgrey;
}
.accordian{
  margin: auto;
  width: 40vw;
  min-width: 300px;
  margin-top: 30vh;
}
.accordianitem{
  height: 50px;
  line-height: 50px;
  background-color: grey;
  text-align: center;
  margin-top: 5px;
  font-family: Poppins;
  color: white;
  font-size: 12px;
  border-radius: 10px;
}
.accordiandrop{
  height: 100px;
  background-color: white;
  transform: translateY(-10px);
  position: relative;
  z-index:-2;
  padding: 20px;
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 11px;
  font-family: Poppins;
  display: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
